<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление траты:</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/expenses/{group_id}(group_id=${group_id})}" >

    <label for="name">Введите название траты: </label>
    <input type="text" th:object="${expense}" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error name</div>
    <br/>
    <label for="paid_by">Выберите платившего: </label>
    <select th:object="${expense}" th:field="*{paid_by}" id = "paid_by">
        <option th:each="person: ${group_people}" th:value="${person.getPhone()}"
                th:text="${person.getName()}"></option>
    </select>
    <br/>
    <label for="amount">Введите сумму траты: </label>
    <input type="text" th:object="${expense}" th:field="*{amount}" id="amount"/>
    <div style="color:red" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Error amount</div>
    <br/>

    <p>Введите трату каждого участника:</p>
    <div th:each="person: ${group_people}">
        <label for="member" th:text="${person.getName}">user</label>
        <div th:each="exp_person: ${exp_people}">
            <div th:if="${person.getPhone == exp_person.getPhone}">
                <input type="text" th:object="${exp_person}" th:field="*{amount}" id="member" value = "0.0"/>
                <div style="color:red" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Error name</div>
            </div>
        </div>
        <br/>
    </div>

    <input type="submit" value="ИЗменить!">
</form>



</body>
</html>