<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/expenses/manage/{group_id}/{expense_id}(expense_id = ${expense_id},group_id=${group_id})}" th:object="${exp_people}">
    <p>Введите трату каждого участника:</p>
    <fieldset>
        <div th:each="group_person, personStat: ${group_people}">
            <label for="member" th:text="${group_person.getName()}">user</label>
            <div th:each="person, itemStat: *{people}">
                <div th:if="${itemStat.index == personStat.index}">

                    <input style="display: none" th:field="*{people[__${itemStat.index}__].phone}" value = "${group_person.getPhone()}"/>
                    <input style="display: none" th:field="*{people[__${itemStat.index}__].expense_id}" value = "${expense_id}"/>
                    <input th:field="*{people[__${itemStat.index}__].amount}" id="member" value = "0.0"/>
                </div>
            </div>
            <br/>
        </div>
    </fieldset>
        <input type="submit" value="Назначить траты!">

</form>
</body>
</html>